body {
  font-family: Roboto;
}
/* Утилиты */
.list {
  list-style: none;
  text-decoration: none;
}
.list-two {
  margin: 0;
  padding: 0;
}
/* Шапка */
/* веб */

.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo-studio-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: black;
}

.logo {
  text-decoration: none;
}

/* кнопки главной навигации */
.nav-button-hover {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.nav-button-hover:hover {
  color: #2196f3;
  background-color: white;
}

/* контакты  */
.contacts-head-hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.contacts-head-hover:hover {
  color: #2196f3;
  background-color: white;
}

.tel-head-hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.tel-head-hover:hover {
  color: #2196f3;
  background-color: white;
}
/* Главное  */

/* 1 Первая страница */
.main-service {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* главная кнопка */
.button-hover {
  margin-top: 33px;
  padding: 10px 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
}

.button-hover:hover {
  background: #2196f3;
  color: white;
}

/* заголовок для занятия и команды */
.our-title {
  text-align: center;
  margin: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

/* заголовок текст */
.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/* текст */
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* имена команды */
.names-teammate {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

/* професия команды */
.professions-teammate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* 2 Вторая страница */
/* Якора */
.anchor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.anchor:hover {
  background-color: #2196f3;
  color: white;
}

/* меню просмотра */
.menu-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.menu-classification {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Футер */
/* Веб */
.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo-studio-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

/* контакты */
.address {
  margin-top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Флекс бокс для страниц */
.container {
  display: flex;
  justify-content: space-between;
  padding: 32px 15px;
  max-width: 1200px;
  margin: auto;
}
.header-section {
  align-items: center;
  padding: 25px 0;
  justify-content: flex-start;
}

.top-line {
  max-width: none;
  border-bottom: 1px solid #ececec;
}

.top-button {
  display: flex;
  width: 294px;
  margin-left: 93px;
  justify-content: space-between;

  outline: 2px solid tomato;
}

.top-button .nav-button-hover {
  background-color: teal;
}
.top-button .list:not(:last-child) {
  margin-right: 50px;
}

.top-contacts {
  display: flex;
  margin-left: auto;
}
.top-contacts .list:not(:last-child) {
  margin-right: 50px;
}

.main-box {
  max-width: 1600;
  height: 600px;
  background-color: #2f303a;
  color: white;
  padding: auto;
  padding-top: 195px;
  padding-bottom: 202px;
  text-align: center;
}

.benefits-container {
  display: flex;

  background-color: tomato;
}
.benefits-section {
  width: 270px;
}
/* .benefits-container .list:not(:last-child) {
  margin-right: 30;
} */

.our-work,
.our-team {
  flex-wrap: wrap;
}

.our-foto {
  display: flex;
}
.our-foto .list:not(:last-child) {
  margin-right: 30px;
}
.footer-section {
  color: white;
  background-color: #2f303a;
}
.footer-container {
  display: block;
  text-align: start;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  margin-bottom: 9px;
  margin-top: 9px;
}
.main-menu {
  display: flex;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
}
.portfolio-nav .list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-section {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.portfolio-list {
  width: calc(100%-60) / 3;
  margin-right: 30px;
}
